@import url("reset.css");

@font-face {
	font-family: 'Inter';
	src: url('../fonts/Inter-Bold.woff2') format('woff2'),
	url('../fonts/Inter-Bold.woff') format('woff');
	font-weight: bold;
	font-style: normal;
	font-display: swap;
}


@import url("https://fonts.googleapis.com/css?family=Estonia:regular&display=swap");
header{
	font-family: "inter-bold";
	font-size: 18px;
	font-weight: 500;
	text-align: right;
}
.h-1 {
	font-family: "Roboto";
	font-size: 26px;
	font-weight: 700;
	text-align: center;
	color: rgba(0, 0, 0, 0.353)00;
	text-decoration: underline;
}
.p-1 {font-family: 'Courier New', Courier, monospace;
	font-size: 19px;
	font-weight: 200;
	text-align: justify;
	color: margin: 0px 0px 0px 0px;;
}
.h-2 {
	font-family: "Estonia";
	font-size: 16;
	font-weight: 300;
	color: rgba(255, 94, 0, 0.527);
	text-indent: 20px;
	letter-spacing: 2px;

}
.h-3 {
	font-family: "Nunito";
	font-size: 17px;
	font-weight: bold;
	color: brown;
}
.h-4 {
	font-family: 'Courier New', Courier, monospace;
	font-size: 19px;
	font-weight: 200;
	text-align: justify;
	color: margin: 0px 0px 0px 0px;;
}
.h-5 {
	font-family: "Estonia";
	font-size: 16;
	font-weight: 300;
	color: rgba(81, 255, 0, 0.527);
}
.h-6 {
	font-family: "Nunito";
	font-size: 12px;
	font-weight: 500;
	text-align: center;
	text-shadow: grey;
	color: rgba(0, 0, 0, 0.353)00;
}
.h-7 {
	font-family: "Roboto";
	font-size: 13px;
	font-weight: 400;
	text-align: center;
	text-decoration: double;
	color: rgba(167, 23, 23, 0.353)00;
}
.h-8 {
	font-family: "Roboto";
	font-size: 16px;
	font-weight: 300;
	text-align: center;
	color: rgba(123, 150, 25, 0.774)00;
}
.h-9 {
	font-family: "Roboto";
	font-size: 18px;
	font-weight: 300;
	text-align: right;
	color: rgba(163, 157, 157, 0.353)00;
}
.h-10 {
	font-family: "Roboto";
	font-size: 14px;
	font-weight: 200;
	text-align: left;
	color: rgba(0, 0, 0, 0.353)00;
	line-height: 1.5;
}
.h-11 {
	font-family: "Roboto", sans-serif ;
	font-size: 15px;
	font-weight: 100;
	text-align: center;
	font-style: italic;
	color: rgba(101, 58, 102, 0.193)00;
	text-transform: capitalize;
	white-space: nowrap;
}
