@import url("reset.css");
@import url("common.css");
.site-header {
	margin: 0 auto;
	max-width: 1240px;
}
.site-header__logo {
}
.site-header__items {
}
.item-list {
}
.site-header-icons {
}
.site-header-icon-1 {
}
.site-header-icon-2 {
}
.site-header-icon-3 {
}
.site-header-icon-4 {
}
.photo-with-content {

}

[class*="__container"]{
	margin: 0 auto;
	max-width: 1240px;
	text-align: center;
}
.photo-with-content__content-foto{
	background-image: url("../img/content.png");
}
.photo-with-content__text {
	padding-top: 192px;
	margin-bottom: 15px;
	color: #E5E5E5;
	font-weight: 700;
}
.photo-with-content__title {
	margin-bottom: 133px;
	color: #F8F9FA;
}
.number-pages {
	padding-bottom: 40px;
	color: #F8F9FA;
}
